{% load static sekizai_tags i18n authentication %}
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <img src="{% static "collection/images/MB_logo.svg" %}" alt="" class='pe-2' style='max-height:1.5em;'>
        <h3 class='modal-title'>{% trans "Login" %}</h3>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='modal-body'>
        <p class='mb-3'>Log in using the details you signed up with</p>
      {% authentication_form "login" %}
        {% blocktrans %}
          <p class='small'>
            <a href="#resetPasswordModal" data-bs-target="#resetPasswordModal" data-bs-toggle="modal" data-bs-dismiss="modal">Forgot your password</a>
            or 
            <a href="#createAccountModal" data-bs-target="#createAccountModal" data-bs-toggle="modal" data-bs-dismiss="modal">don't have an account yet?</a>
          </p>
        {% endblocktrans %}      
        <div class="modal-footer">
          <input form='loginForm' type="submit" name="submit" value="Login" class="btn btn-primary">
        </div>
      </div>
    </div>
  </div>
</div>


{% addtoblock "js" %}<script>

$("#loginForm").submit(function(e) {

  e.preventDefault();
  var form = $(this);

  $.post({
      url: form.attr('action'),
      data: form.serialize(),
      success: function(data)
      {
        location.href = '/';
        window.location.reload(true);
      },
      error: function(data)
      {
        form.find('.error-message').show()
        form.find('.success-message').show()
        form.replaceWith(data.responseJSON.form)
      },
  });
});

</script>{% endaddtoblock %}