{% extends "user/base.html" %}
{% load crispy_forms_tags i18n %}

{% block profile_content %}
<ul class='divided'>
  <li>
    <h3>{% trans "Email" %}</h3>
    {% include "user/email.html" %}
  </li><li>
    <h3>{% trans "Password" %}</h3>
    <a class='btn button' href="{% url 'account_change_password' %}">{% trans 'Reset' %}</a>
  </li><li>
    <h3>{% trans "Account" %}</h3>
    <a class='btn button' href="{% url 'account_change_password' %}">{% trans 'Deactivate' %}</a>
  </li>
</ul>

{% endblock profile_content %}
